/__pycache__/
/.vscode/
/.claude/
/outputs/
/logs/
/deepseek_tokenizer/
/gradients/
/results/
/avg_gradients/
/data_outputs/
/results_es/
/draft_code/
.python-version
config.py
selected_data/*
/scripts/*
scripts/*
.DS_Store
